<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html ng-app="photogallery">
<head>
<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/font_awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/common/custom/custom.css">
<link rel="stylesheet" href="css/ihover/ihover.css" >
<link rel="stylesheet" type="text/css" href="css/menu_hover/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/menu_hover/demo.css" />
<link rel="stylesheet" type="text/css" href="css/menu_hover/component.css" />

<script type="text/javascript" src="js/angularJs/angular.min.js"></script>
<script type="text/javascript" src="js/angularJs/angular-route.min.js"></script>
<script type="text/javascript" src="js/commonJs/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="js/commonJs/jquery.min.js"></script>
<script type="text/javascript" src="css/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/routeSegmentJs/route-segment.js"></script>
<script type="text/javascript" src="js/routeSegmentJs/view-segment.js"></script>
<script type="text/javascript" src="js/lightBox/angular-bootstrap-lightbox.min.js"></script>
<script type="text/javascript" src="js/menu_hover/modernizr.custom.js"></script>
<script type="text/javascript" src="js/appModule/appModule.js"></script>
<script type="text/javascript" src="js/controller/homeController.js"></script>
<script type="text/javascript" src="js/controller/galleryController.js"></script>

</head>
<body>

<div id = "page-header" class = "page-header-custom-white"> 
	<div id = "menu-container" class = "container" style = "height:100%;">
			<ul id = "main-menu" class = "main-menu">
				<li class ="cl-effect-1"><a href = "home.html">Home</a></li>
				<li class ="cl-effect-1"><a href = "#">About Us</a></li>
				<li class ="cl-effect-1"><a href = "#">Pages</a></li>		
				<li class ="cl-effect-1"><a href = "#">Portfolio</a></li>		
				<li>				
				<a id = "logo-URL" href = "home.html">
					<img alt="logo" src="images/logo/Logo.png" class="logo-img">
				</a>
			
			</li>	
			<li class ="cl-effect-1"><a href = "gallery.html">Gallery</a></li>
			<li class ="cl-effect-1"><a href = "#">Features</a></li>
			<li class ="cl-effect-1"><a href = "#">Blog</a></li>
			<li class ="cl-effect-1"><a href = "#">Contact</a></li>
		</ul>	
	</div>
</div>
<div class = "container-fluid">
	<div class = "header-container">
		<ul class = "header-list"> 			
			<i class="fa fa-home" style = "color:white"></i>
			</li>
			<li>
				<span style = "color:white">|</span>
			</li>
			<li>
				<span style="color:white"><h5>Gallery</h5></span>
			</li>
		</ul>		
	</div>	
</div>

<div id = "gallery-container" class = "container-fluid" ng-controller = "galleryController">

	<div ng-repeat="image in images" ng-if = "$index % 3 == 0" class = "row top-buffer">		
	
		<div class = "col-lg-4">
			<div class="ih-item square colored effect6 from_top_and_bottom center-block"><a ng-click="openLightboxModal($index)" href="#">
				<div class="img"><img src = "{{images[$index].thumbUrl}}"  class = "img-thumbnail center-block" /></div>
				<div class="info">
			<h3>Heading here</h3>
			<p>Description goes here</p>
        </div></a></div>			
		</div>
		<div class = "col-lg-4">
			<div class="ih-item square colored effect6 from_top_and_bottom center-block"><a ng-click="openLightboxModal($index + 1)" href="#">
				<div class="img"><img src = "{{images[$index + 1].thumbUrl}}"  class = "img-thumbnail center-block" /></div>
				<div class="info">
			<h3>Heading here</h3>
			<p>Description goes here</p>
        </div></a></div>			
		</div>
		<div class = "col-lg-4">
			<div class="ih-item square colored effect6 from_top_and_bottom center-block"><a ng-click="openLightboxModal($index + 2)" href="#">
				<div class="img"><img src = "{{images[$index + 2].thumbUrl}}"  class = "img-thumbnail center-block" /></div>
				<div class="info">
			<h3>Heading here</h3>
			<p>Description goes here</p>
        </div></a></div>			
		</div>
	</div>
</div>
<button type="button" class="btn btn-success center-block" style = "background:#688080;border-color: #688080;">Click Here For More >>></button>
</body>
</html>
